#main{
  background-color:#d3d3d3;
}
body{
  text-align:center;
  font-family:Sans-serif;
}
  h1{ 
    text-decoration:bold;
    font-size:40px;
  }
#img-div{
  border-style:ridge;
  border-color:#fff;
  background-color:white;
 
 
}
#image{
  width:90%;
  height:90%;
  padding-top:2px;
  
}
#tribute-info{
  text-align:justify;
  margin:auto;
 
  
}
ul{
  text-transform:lowercase;
}
#tribute-info ul li{
  text-transform:capitalize;
  margin-left:5%;
}
#tribute-info p{
  width:90%;
  margin:auto;
}